@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
     /* custom css classes example. Here we write custom css classes */
    .red-btn {
     background-color:#FF0000;
    }

    .max-height-450{
      max-height: 450px;
    }

    .height-500

    .left-right-margins{
      max-width:90%;
      margin-left:8%;
    }
    .no-left-right-margins{
      max-width:100%;
      margin-left:0;
    }
    
  }
